<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/styles/homepage.css">

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button w3-bold w3-xlarge">Hornets Bee-Gone</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <a href="https://en.wikipedia.org/wiki/Asian_giant_hornet" class="w3-bar-item w3-button">About Hornets  </a>
        <a href="contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

 <!-- Project Section -->
 <div class="w3-container w3-padding-top-32">
    <h1 class="w3-padding-top-32 w3-center w3-bold w3-xxlarge w3-text-red">Mt Adams Honey</h1>
  </div>
  <div class="w3-container">
    <h3 class="w3-center w3-bold w3-large w3-text-red">HORNETS DETECTED ON PROPERTY</h3>
    <h3 class="w3-text-white w3-xxlarge w3-center">Hornets detected <h3 class="w3-xxlarge w3-text-red w3-center">20</h3></h3>
    <h3 class="w3-text-white w3-xxlarge w3-center">Hornets killed <h3 class="w3-xxlarge w3-text-green w3-center">12</h3></h3>
    <p class="w3-text-white w3-center">Full Name: Mt Adams Honey </p>
    <p class="w3-text-white w3-center">Location: 331 Valley View Rd, Zillah, WA 98953, United States </p>
    <p class="w3-text-white w3-center">Population: 10,000</p>
    <p class="w3-text-white w3-center">Units: 7</p>
    <p class="w3-text-white w3-center">Nearby Hives (50km in radius):
        <a href="CentralValleyBees" class="w3-bar-item w3-button">Central Valley Bees</a>
        <a href="HoneyHouseFarms" class="w3-bar-item w3-button">Honey House Farms</a>
    </p>
  </div>
</body>
</html>
